<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type"
        charset="utf-8" />
    <title>¼ôµ¶Ê¯Í·²¼</title>
    <link type="text/css" rel="stylesheet" href="css/index.css" /> 
</head>
<body>
    <div class="background">
        <img src="/Images/background.jpg" />
    </div>
    <div class="downloaddiv">
        <a target="_blank" href="/Download/iphone.dmg">
            <img src="/Images/iphone_download_button.png">
        </a>
        <a target="_blank" href="/Download/android.pkg">
            <img src="/Images/android_download_button.png">
        </a>
    </div>
</body>
</html>
